.page .page_title {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    min-height: 87px;
    max-height: 87px;
    background-color: #FFF;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #616471;
}

.page .payment-tools {
    margin: 0 auto;
    max-width: 1250px;
    padding: 0 20px;
}

.page .payment-tools .payment-tools-cards {
    display: flex;
    flex-wrap: wrap;
}

.page .payment-tools .payment-tools-cards .payment-tools-card {
    margin: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFF;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    color: #616471;
    cursor: pointer;
    min-height: 150px;
    transition: border .3s;
    width: 570px;
}

.page .payment-tools .payment-tools-card:first-child {
    margin-top: 4rem;
}

.page .payment-tools .payment-tools-card:nth-child(2) {
    margin-top: 4rem;
}

.page .payment-tools .payment-tools-card:not(:first-child) {
    background: #F8F8F8;
    pointer-events: none;
    color: #999;
}

.page .payment-tools .payment-tools-cards .payment-tools-card .card-body {
    flex: 1 1 auto;
    padding: 1rem;
}

.page .payment-tools .payment-tools-cards .payment-tools-card .card-title {
    margin-bottom: 0.5rem;
    text-align: left;
}

.page .payment-tools .payment-tools-cards .payment-tools-card .card-content {
    display: flex;
    flex-wrap: nowrap;
}

.page .payment-tools .payment-tools-cards .payment-tools-card .card-content .content-text {
    font-size: .875rem;
    text-align: left;
}

.page .payment-tools .payment-tools-cards .payment-tools-card .card-content .content-img {
    height: 72px;
    width: 72px;
    flex: 0 0 72px;
    margin-left: 1.5rem;
    vertical-align: middle;
    border-style: none;
}

@media (min-width: 1200px) {
    .payment-tools {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .payment-tools {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .payment-tools {
        max-width: 720px;
    }
}
